#selected-items {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 4rem;
}

.bill-item {
    background-color: rgb(255, 255, 255);
    border-radius: 7px;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.pay-button {
    padding: 2rem 1rem;
}

.bill-item div {
    display: flex;
    align-items: center;
}

.mode-of-payment {
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

.mode-of-payment h3 {
    margin-right: 1rem;
}

.mode-of-payment div {
    margin-right: 1rem;
}

.mode-of-payment label {
    cursor: pointer;
}

.mode-of-payment input {
    transform: translateY(1.2px);
    cursor: pointer;
}

.pay-button button {
    padding: 0.5rem 1rem;
    font-weight: 500;
    cursor: pointer;
    border-radius: 8px;
    background-color: green;
    color: #fff;
    font-size: 1.1rem;
}